
.card {
    /*display: grid;*/
    /*grid-template-columns: 250px;*/
    /*grid-template-rows:  200px;*/
    /*grid-template-areas: "image" ;*/
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    transition: 0.5s ease;
    cursor: pointer;
    margin:20px;
    background-color: black;
    transform-style: preserve-3d;
    transform: perspective(1000px);

}
.rgb::after{
     content: " ";
     background: linear-gradient(45deg,
     #ff0000 0%,
     #ff9a00 10%,
     #d0de21 20%,
     #4fdc4a 30%,
     #3fdad8 40%,
     #2fc9e2 50%,
     #1c7fee 60%,
     #5f15f2 70%,
     #ba0cf8 80%,
     #fb07d9 90%,
     #ff0000 100%) repeat 0% 0% /300% 100%;
     position: absolute;
     inset:-3px;
     border-radius: 16px;
     filter:blur(10px) ;
     transform:translateZ(-1px) ;
     animation: rgb 6s linear infinite;
 }
@keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}

}
.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    height: 250px;
     width: 227px;
    background-position: 50% 50%;
    overflow: hidden;
}
.card-text {
    background: transparent;
    margin: 5px;
}
.card-text h2 {
    margin-top:0px;
    font-size:20px;
}
.card-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
}
.card:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}